body{
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgba(5,7,12,0.20), rgba(5,7,12,0.20)), url(degradado.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transform: translate(-50%,-50%);
    width: 400px;
    border-radius: 10px;
    background:rgba(200, 204, 215, 0.21);
}

.forumulario h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom:1px solid silver;
}

.formulario form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .username{
    position: relative;
    border-bottom:2px solid white;
    margin: 30px 0;
}

.username input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.username label{
    position: absolute;
    top: 50%;
    color: white;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.username span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: rgb(234, 220, 197);
    transition: .5s;
}

.username input:focus ~ label,
.username input:focus ~ label{
    top: -5px;
    color: rgb(234, 220, 197);
}

.username input:focus ~ span::before,
.username input:focus ~ span::before{
    width: 100%;
}

.botones{
    color: white;
}

.detalles{
    color: white;
}

.conociste{
    color: white;
    
}

input[type="submit"]{
    margin-right: 100px;
    top: 20px;
    margin-left: auto;
    display: block;
    width: 50%;
    height: 40px;
    border: 1px solid;
    background: rgb(234, 220, 197);
    border-radius: 25px;
    font-size: 15px;
    color: white;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    color: rgb(222, 181, 194);
    transition: .5s;
}